@model TechJobsPersistent.ViewModels.AddJobViewModel;

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Employers">Employer</label>
        @* TODO dropdown list? *@
        <select asp-for="Employers" asp-items="Model.Employers" class="form-control"></select>
        <span asp-validation-for="Employers"></span>
        <br />
        <a asp-controller="Employer" asp-action="Add">Add New Employer</a>
    </div>

    <input type="submit" value="Add Job" />
</form>

